<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity 
    Name="3774DKTech.Snake3DSlitherArena" 
    Publisher="CN=29A7D010-A2C9-4F61-BD86-B10842B1EBC7" 
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Snake 3D: Slither Arena</DisplayName>
    <PublisherDisplayName>DKTech India</PublisherDisplayName>
    <Logo>Assets\Icons\iconStoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements 
        DisplayName="Snake 3D: Slither Arena"
        Description="Snake 3D: Slither Arena - The modern 3D classic snake game."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Icons\icon.png"
        Square44x44Logo="Assets\Icons\icon.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Icons\icon.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
